In [3]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
rows,columns = df.shape   # it prints rows and columns

In [8]:
rows  # prints the rows

6

In [9]:
columns  # prints the columns

4

In [11]:
df.head()   # print 5 rows from first

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [12]:
df.head(2)    # prints only 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [14]:
df.tail()   # prints last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
df[2:4]  # slicing like python list

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [17]:
df.columns   # it prints all the columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.day    # it prints the day column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
df['day']    # this also works to print the column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

### To select more than one column from dataframe

In [23]:
df[['day','temperature','event']]    # to print day and temperature more than one column

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [27]:
df.temperature.max()    # prints the max temperature

35

In [28]:
df.describe()   # it prints the statistics of the data frame.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

### Conditionally Select Data

In [31]:
# give me all the rows in dataframe where my temperature >= 32
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

## This is more powerful version like: [ Select windspeed, event from TABLE_NAME where temperature >= 32 ]

In [36]:
# Give me windspeed and event in dataframe where my temperature >= 32
df[['windspeed','event']][df.temperature >= 32]

   windspeed  event
0          6   Rain
1          7  Sunny
4          4   Rain

In [32]:
# to find the row where my temperature was maximum
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [33]:
# to find the same result, we can do the below syntax also
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
# to find the day and temperature when temperature was maximum
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35