In statistics, a contingency table (also known as a cross tabulation or crosstab) is a type of table in a matrix
format that displays the (multivariate) frequency distribution of the variables. 
They are heavily used in survey research, business intelligence, engineering and scientific research. 
They provide a basic picture of the interrelation between two variables and can help find interactions between them.

In [3]:
import pandas as pd
df = pd.read_excel('survey.xls')
df

      Name Nationality     Sex  Age Handedness
0    Kathy         USA  Female   23      Right
1    Linda         USA  Female   18      Right
2    Peter         USA    Male   19      Right
3     John         USA    Male   22       Left
4   Fatima   Bangadesh  Female   31       Left
5    Kadir   Bangadesh    Male   25       Left
6   Dhaval       India    Male   35       Left
7   Sudhir       India    Male   31       Left
8   Parvir       India    Male   37      Right
9      Yan       China  Female   52      Right
10    Juan       China  Female   58       Left
11   Liang       China    Male   43       Left

In [4]:
# crosstab method is of pandas not of dataframe
pd.crosstab(df.Nationality, df.Handedness)

Handedness   Left  Right
Nationality
Bangadesh       2      0
China           2      1
India           2      1
USA             1      3

### margins

In [6]:
pd.crosstab(df.Sex, df.Handedness, margins=True)  # margins will show the total

Handedness  Left  Right  All
Sex
Female         2      3    5
Male           5      2    7
All            7      5   12

## Multi_Level indexes

In [7]:
# multi_level in cols
pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True)

Handedness       Left                 Right           All
Nationality Bangadesh China India USA China India USA
Sex
Female              1     1     0   0     1     0   2   5
Male                1     1     2   1     0     1   1   7
All                 2     2     2   1     1     1   3  12

In [8]:
# Multi_Level in rows
pd.crosstab([df.Nationality, df.Sex], df.Handedness, margins=True)

Handedness          Left  Right  All
Nationality Sex
Bangadesh   Female     1      0    1
            Male       1      0    1
China       Female     1      1    2
            Male       1      0    1
India       Male       2      1    3
USA         Female     0      2    2
            Male       1      1    2
All                    7      5   12

## Normalize

In [15]:
pd.crosstab(df.Sex, df.Nationality, margins=True)

Nationality  Bangadesh  China  India  USA  All
Sex
Female               1      2      0    2    5
Male                 1      1      3    2    7
All                  2      3      3    4   12

In [13]:
pd.crosstab(df.Sex, df.Nationality, normalize='index')

Nationality  Bangadesh     China     India       USA
Sex
Female        0.200000  0.400000  0.000000  0.400000
Male          0.142857  0.142857  0.428571  0.285714

In [16]:
# average age of male who are right handed and average age of female who are right handed
import numpy as np
pd.crosstab(df.Sex,df.Handedness, values=df.Age, aggfunc=np.average)

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0